<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="//unpkg.com/primitive-ui/dist/css/main.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <title>{% block title %}Corporate tax information for year 2023{% endblock %}</title>
    <style>
        body {
            margin-left:30px;
            margin-right:30px;
        }
    </style>
</head>
<body>
    {% block body %}<h1>Corporate tax information for year 2021</h1>{% endblock %}
</body>
</html>